%p{:style => "color: green"}= notice
= render @job
%div
  = link_to 'Apply', apply_job_path, data: { "turbo-method": :post }, class: 'btn btn-success' if current_user.applicant?

  = link_to "Edit this job", edit_job_path(@job) if current_user.employer?
  |
  \#{link_to "Back to jobs", jobs_path}
  
  \#{button_to "Destroy this job", @job, method: :delete, class: 'btn btn-danger' if current_user.employer?}
